In [1]:
# Load libraries
import pandas as pd
import numpy as np

## 创建有缺失值的时间序列

In [4]:
# Create date
time_index = pd.date_range('01/01/2010', periods=5, freq='M')

# Create data frame, set index
df = pd.DataFrame(index=time_index)

# Create feature with a gap of missing values
df['Sales'] = [1.0,2.0,np.nan,np.nan,5.0]
df.head()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    NaN
2010-04-30    NaN
2010-05-31    5.0

## 插值处理缺失值

In [3]:
# Interpolate missing values
df.interpolate()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    4.0
2010-05-31    5.0

## 前填充缺失值

In [7]:
# Forward-fill
df.ffill()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    2.0
2010-04-30    2.0
2010-05-31    5.0

## 后填充缺失值

In [8]:
# Forward-fill
df.bfill()

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    5.0
2010-04-30    5.0
2010-05-31    5.0

## 插值处理一个缺失值

In [9]:
# Interpolate missing values
df.interpolate(limit=1, limit_direction='forward')

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    NaN
2010-05-31    5.0

## 参考资料
* [Handling Missing Values In Time Series](https://chrisalbon.com/machine_learning/preprocessing_dates_and_times/handling_missing_values_in_time_series/)